<a href="https://colab.research.google.com/github/Behordeun/MY-PROJECTS/blob/master/CoVid_2019_Zindi_challenge_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### 1. We are importing WARNINGS class to suppress any warning

In [0]:
import warnings 
warnings.filterwarnings('ignore')

##### 2. We are now importing all necessary packages for our report

In [0]:
import pandas as pd 
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline 

import gc
from datetime import datetime 
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.linear_model import LogisticRegressionCV, SGDClassifier, LogisticRegression
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, confusion_matrix
from xgboost import XGBClassifier
import lightgbm as lgbm

pd.set_option('display.max_columns', 500)

##### 3. We will now load the dataset

In [0]:
data = pd.read_csv("/content/clean.csv", index_col="Territory X Date")
data.head()

                          Date  target  cases  Territory
Territory X Date
Afghanistan X 1/22/20  1/22/20       0      0          0
Afghanistan X 1/23/20  1/23/20       0      0          0
Afghanistan X 1/24/20  1/24/20       0      0          0
Afghanistan X 1/25/20  1/25/20       0      0          0
Afghanistan X 1/26/20  1/26/20       0      0          0

In [0]:
x = data[["cases","Territory"]]
y = data["target"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=0)

In [0]:
x_train.head()

                                 cases  Territory     Date
Territory X Date
Saint Kitts and Nevis X 2/15/20      0        158  2/15/20
Romania X 3/1/20                     3        154   3/1/20
Niger (the) X 1/29/20                0        136  1/29/20
Iceland X 3/13/20                  134         85  3/13/20
Chile X 3/4/20                       1         37   3/4/20

1. Logistic Regression

In [0]:
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)
log_pred = log_reg.predict(x_test)
log_score = round(log_reg.score(x_train, y_train) * 100, 2)

2. Ada Boost Classifier

In [0]:
abc = AdaBoostClassifier()
abc.fit(x_train,y_train)
abc_pred = abc.predict(x_test)
abc_score = round(abc.score(x_train, y_train) * 100, 2)

3. Stochastic Gradient Descent (SGD) Classifier

In [0]:
sgd = SGDClassifier()
sgd.fit(x_train,y_train)
sgd_pred = sgd.predict(x_test)
sgd_score = round(sgd.score(x_train, y_train) * 100, 2)

4. XG Boost

In [0]:
xgb = XGBClassifier()
xgb.fit(x_train,y_train)
xgb_pred = xgb.predict(x_test)
xgb_score = round(xgb.score(x_train, y_train) * 100, 2)

##### We will now check scores of all the models by comparing against each other

In [0]:
models = pd.DataFrame({
    'Model': ['Logistic Regression', 'Ada Boost Classifier',
              'SGD Classifier', 'XG Boost'],
    'Score': [log_score, abc_score, sgd_score, xgb_score]})

models.sort_values(by='Score', ascending=False)

                  Model  Score
3              XG Boost  96.99
1  Ada Boost Classifier  94.63
0   Logistic Regression  94.11
2        SGD Classifier  91.70